<section class="testimonial-section">
  <div class="container">
    <h2 class="text-center fw-bold title_testimonies">Testimonios</h2>
    <div
      id="testimonialCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner text-center">
        <!-- Testimonio 1 -->
        <div class="carousel-item active">
          <img
            src="https://i.postimg.cc/y8KDKJ0P/MARTHA.webp"
            class="testimonial-img mb-3"
            alt="User 1"
          />
          <p class="lead">
            “Gracias a ETT, hemos logrado reducir significativamente los tiempos
            de entrega en nuestras operaciones logísticas. La plataforma
            tecnológica que utilizan, junto con su capacidad de planificación
            basada en datos, ha transformado nuestra manera de trabajar.”
          </p>
          <h5 class="fw-bold">
            — Martha Infantes, Gerente de Operaciones Logísticas
          </h5>
        </div>
        <!-- Testimonio 2 -->
        <div class="carousel-item">
          <img
            src="https://i.postimg.cc/P5MP5t4k/NILTON.webp"
            class="testimonial-img mb-3"
            alt="User 2"
          />
          <p class="lead">
            “La eficiencia y confiabilidad de ETT son incomparables. Desde el
            monitoreo en tiempo real hasta la consolidación de carga, cada
            aspecto del servicio está diseñado para optimizar recursos y
            garantizar entregas puntuales. Son aliados estratégicos en el
            transporte moderno.”
          </p>
          <h5 class="fw-bold">
            — Nilton Guevara, Coordinador de Cadena de Suministro
          </h5>
        </div>
        <!-- Testimonio 3
        <div class="carousel-item">
          <img
            src="https://i.postimg.cc/HLj8HkWv/hero.webp"
            class="testimonial-img mb-3"
            alt="User 3"
          />
          <p class="lead">
            "Definitivamente volveré a contratar sus servicios."
          </p>
          <h5 class="fw-bold">Carlos Ramírez</h5>
        </div> -->
      </div>

      <!-- Controles de navegación -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#testimonialCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#testimonialCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</section>
