.testimonial-section {
  background: url("https://i.postimg.cc/Kv206Nps/section-4.webp") no-repeat
    center center;
  /* background: url("https://i.postimg.cc/3xqzpG9j/bg-image-10.webp") no-repeat
    center center; */
  background-size: cover;
  background-attachment: fixed; /* Efecto parallax */
  padding: 5rem 0;
  color: white; /* Asegura que el texto sea legible */
 view-timeline: --title-appear; 
}

.title_testimonies {
  text-align: center;
  color: white;
  font-size: 3rem;
  margin-bottom: 4rem;
  animation: both titleAppear;
  animation-timeline: --title-appear;
  animation-range: entry-crossing 20vh entry-crossing 40vh;
}
.testimonial-section h2 {
  color: white; /* Color del título */
}

.testimonial-img {
  width: 100px;
  max-width: 120px;
  height: 100px;
  max-height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff; /* Resalta la imagen */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Fondos para los botones */
  border-radius: 50%;
}

.lead {
  max-width: 50ch;
  margin: 2em auto;
}

/*Animacion Title*/
@keyframes titleAppear {
  0%{
    opacity: 0;
    transform: translateX(50px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}