<section class="video_container">
  <iframe
    src="https://www.youtube.com/embed/z1CnJawp9LY?autoplay=1&mute=1&rel=0&loop=1&playlist=z1CnJawp9LY"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</section>

<section class="container-fluid py-5 ">
  <div class="row h-100 align-items-center justify-content-center">
    <!-- Columna izquierda: Grid 2x2 -->
    <aside class="col-md-6 d-flex flex-column card_container_parent">
      <div class="row flex-fill card_container">
        <div class="col-6 d-flex">
          <div class="card p-3 text-center shadow-sm w-100">
            <h5 class="card_title">12</h5>
            <p class="card_description">Countries Covered</p>
          </div>
        </div>
        <div class="col-6 d-flex">
          <div class="card p-3 text-center shadow-sm w-100">
            <h5 class="card_title">10</h5>
            <p class="card_description">Years of Experience</p>
          </div>
        </div>
        <div class="col-6 d-flex">
          <div class="card p-3 text-center shadow-sm w-100">
            <h5 class="card_title">23</h5>
            <p class="card_description">Offices Worldwide</p>
          </div>
        </div>
        <div class="col-6 d-flex">
          <div class="card p-3 text-center shadow-sm w-100">
            <h5 class="card_title">98</h5>
            <p class="card_description">Hardworking People</p>
          </div>
        </div>
      </div>
    </aside>
    <!-- <aside></aside> -->

    <!-- Columna derecha: Imagen -->
    <aside class="col-md-6 d-flex align-items-center justify-content-center container-scale-img">
      <div class="col-md-6 image-container scale-img"></div>
    </aside>
  </div>
</section>
