header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

nav {
  display: flex;
  gap: 1rem;
  padding: 10px;
  text-transform: uppercase;
}

nav a {
  /* color: white; */
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  font-weight: 00;
}

nav a.active {
  /* color: brown; */
  color: #7CC6F3;
  /* text-decoration: underline; */
}

aside.right {
  display: flex;
  gap: 1rem;
  padding: 10px;
}
.social-media {
  display: flex;
  gap: 1rem;
}
.social-media i {
  color: #444;
}
.btn {
  color: #000;
  border-radius: 0;
  border: 2px solid #888;
}

.btn-primary {
  background-color: white;
}

.fa-envelope {
  color: #444;
}

/* === Mobile... === */
@media (max-width: 40rem) {
  .header_container {
    display: flex;
    /* background-color: peru; */
    position: relative;
  }
  .img_logo {
    max-width: 45vw;
    position: absolute;
    top: calc(1.7rem);
    left: calc(50% - 10vw);
    z-index: 1;
  }
  .row > * {
    width: initial;
  }
}
/* === Mobile... === */

a {
  color: inherit;
  text-decoration: none;
}
