
.card-overlay {
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}

.card-overlay:nth-child(1) {
  background-image: url("https://i.postimg.cc/HLj8HkWv/hero.webp");
}

.card-overlay:nth-child(2) {
  background-image: url("https://i.postimg.cc/HLj8HkWv/hero.webp");
}

.card-overlay:nth-child(3) {
  background-image: url("https://i.postimg.cc/HLj8HkWv/hero.webp");
}

.card-overlay:nth-child(4) {
  background-image: url("https://i.postimg.cc/HLj8HkWv/hero.webp");
}
