<section class="mini_hero">
  <h2 class="title_hero">SOBRE NOSOTROS</h2>
</section>

<section class="who_we_are">
  <h2 class="title">Quienes somos</h2>
  <br>
  <div>
    <aside class="who_we_are_left">
      <h3 class="sub-title">Sirviendo la zona por más de 40 años</h3>
      <p>
        Trucking es una empresa de servicio completo que ofrece un transporte
        confiable de carga en plataforma, de gran tamaño y con sobrepeso en toda
        el área.
      </p>
      <ul>
        <li>Transporte de carga</li>
        <li>Logística</li>
        <li>Transporte de carga</li>
        <li>Logística</li>
        <li>Transporte de carga</li>
        <li>Logística</li>
      </ul>
    </aside>
    <aside class="who_we_are_right image">
      <img src="https://i.postimg.cc/Wz635q7t/about-1-669x388.webp" />
    </aside>
  </div>
</section>

<!-- What We Do -->
<section class="what_we_do">
  <aside class="what_we_do_left image">
    <img src="https://i.postimg.cc/3JYCYgVS/about-2-946x628.webp" />
  </aside>
  <aside class="what_we_do_right">
    <h2>Qué hacemos</h2>
    <p>
      Brindamos a nuestros clientes servicios de transporte profesionales que
      agregan valor a la cadena de suministro general y ayudan a nuestros
      clientes en el crecimiento y el éxito de su negocio.
    </p>
    <p>
      Si busca una solución personalizada, le ofrecemos cobertura global,
      gestión de costos y una continuidad de proyecto confiable. Al elegirnos,
      elige un socio a largo plazo que le ayudará a alcanzar el éxito de su
      negocio.
    </p>
    <a href="#" class="button">Empezar</a>
  </aside>
</section>

<!-- Our Staff -->
<section class="our_staff">
  <h2>Nuestro personal</h2>
  <p>Un equipo de profesionales dedicados al transporte por carretera</p>

  <div class="our_staff_cards">
    <aside class="our_staff_card">
      <img src="https://i.postimg.cc/QdLDFdgy/our-staff-01.webp" />
      <div class="body">
        <h3 class="body_title">John Malkovich</h3>
        <p class="body_subtitle">Presidente y fundador</p>
        <p class="body_text">
          Con la ayuda de un personal dedicado, John ha podido hacer crecer la
          empresa hasta convertirla en una de las empresas de transporte más
          confiables de todo el mundo.
        </p>
      </div>
    </aside>
    <aside class="our_staff_card">
      <img src="https://i.postimg.cc/J4Hm7kXX/our-staff-02.webp" />
      <div class="body">
        <h3 class="body_title">Walter Harrows</h3>
        <p class="body_subtitle">Gerente general</p>
        <p class="body_text">
          Después de graduarse de la escuela secundaria, sirvió en el Cuerpo de
          Marines y cuando regresó a casa en 1981, comenzó a trabajar a tiempo
          completo para Trucking.
        </p>
      </div>
    </aside>
    <aside class="our_staff_card">
      <img src="https://i.postimg.cc/9QGhZHJF/our-staff-03.webp" />
      <div class="body">
        <h3 class="body_title">Dennis Richardson</h3>
        <p class="body_subtitle">Gerente de Operaciones</p>
        <p class="body_text">
          Dennis se incorporó a la industria del transporte por carretera a los
          12 años. En 1978 se unió a nuestro equipo y actualmente es nuestro
          Gerente de Operaciones.
        </p>
      </div>
    </aside>
  </div>
</section>

<section>
  <!-- <h2>map</h2> -->
</section>
