<mini-hero-comp [title]="'Contactos'"></mini-hero-comp>

<section class="contact_container">
  <aside class="contact_container_left">
    <h2>Contáctanos</h2>
    <form #contactForm="ngForm" (ngSubmit)="enviarFormulario(contactForm)">
      <div class="head">
        <div class="field_container">
          <input
            type="text"
            placeholder="Nombre"
            [(ngModel)]="nombre"
            name="nombre"
            #nombreRef="ngModel"
            required
            minlength="3"
          />
          <div *ngIf="nombreRef.invalid && nombreRef.touched" class="error">
            <small *ngIf="nombreRef.errors?.['required']"
              >El nombre es obligatorio.</small
            >
            <small *ngIf="nombreRef.errors?.['minlength']"
              >Debe tener al menos 3 caracteres.</small
            >
          </div>
        </div>
        <div class="field_container">
          <input
            type="email"
            placeholder="Correo"
            [(ngModel)]="correo"
            name="correo"
            #correoRef="ngModel"
            required
            email
          />
          <div *ngIf="correoRef.invalid && correoRef.touched" class="error">
            <small *ngIf="correoRef.errors?.['required']"
              >El correo es obligatorio.</small
            >
            <small *ngIf="correoRef.errors?.['email']"
              >Ingrese un correo válido.</small
            >
          </div>
        </div>
      </div>
      <br />

      <div class="body">
        <div class="field_container">
          <textarea
            placeholder="Mensaje"
            [(ngModel)]="mensaje"
            name="mensaje"
            #mensajeRef="ngModel"
            required
            minlength="10"
          ></textarea>
          <div *ngIf="mensajeRef.invalid && mensajeRef.touched" class="error">
            <small *ngIf="mensajeRef.errors?.['required']"
              >El mensaje es obligatorio.</small
            >
            <small *ngIf="mensajeRef.errors?.['minlength']"
              >Debe tener al menos 10 caracteres.</small
            >
          </div>
        </div>
      </div>

      <div class="foot">
        <button type="submit" [disabled]="contactForm.invalid || enviando">
          {{ enviando ? 'Enviando...' : 'Enviar' }}
        </button>
      </div>

      <!-- Mensajes de éxito o error -->
      <div *ngIf="mensajeExito" class="success">{{ mensajeExito }}</div>
      <div *ngIf="mensajeError" class="error">{{ mensajeError }}</div>
    </form>
  </aside>

  <aside class="contact_container_right">
    <h2>Información de contacto</h2>
    <table>
      <tr>
        <td>Telefono:</td>
        <td>+51 997 466 121</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>v.malca&#64;e-transportech.org</td>
      </tr>
      <tr>
        <td>Dirección Lima:</td>
        <td>Marginal de la Selva N°369, Santiago de Surco</td>
      </tr>
      <tr>
        <td>Dirección Chancay:</td>
        <td>Calle López de Zúñiga N° 18, 3er. piso</td>
      </tr>
      <tr>
        <td>Redes sociales:</td>
        <td class="social_media">
          <i class="fa-brands fa-facebook fa-lg"></i>
          <i class="fa-brands fa-instagram fa-lg"></i>
          <i class="fa-brands fa-linkedin fa-lg"></i>
        </td>
      </tr>
    </table>
  </aside>
</section>

<map-component></map-component>
