.services_container {
  margin: 5rem auto;
  view-timeline: --features-view;
}

.features {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  perspective: 1000px;
  --num: 4;
}

.card_item {
  width: 100%;
  aspect-ratio: 9/16;
  flex: 1 1 16rem;
  padding: 1rem;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden;
  text-align: center;
  animation: both featuresCard;
  animation-timeline: --features-view;
  animation-range: cover 20% cover 50%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.title {
  animation: both titleAppear;
  animation-timeline: --features-view;
  animation-range: entry-crossing 20vh entry-crossing 40vh;
}

/* Fondo como pseudo-elemento para hacer zoom */
.card_item::after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease; /* Transición suave */
  z-index: -1;
}

/* Agregar imágenes a cada tarjeta */
.card_item:nth-child(1)::after {
  background-image: url("https://i.postimg.cc/W4JH0Bc4/service01.webp");
}

.card_item:nth-child(2)::after {
  background-image: url("https://i.postimg.cc/MT73F1T2/service02.webp");
}

.card_item:nth-child(3)::after {
  background-image: url("https://i.postimg.cc/B69wpmJB/service03.webp");
}

.card_item:nth-child(4)::after {
  background-image: url("https://i.postimg.cc/x1ZZJ077/service04.webp");
}

/* Overlay semitransparente */
.card_item::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  transition: background 0.3s ease-in-out;
  z-index: 0;
}

/* Estilos para los hr */
hr {
  width: 15rem;
  border: 1px solid white;
  margin: 5px 0;
  opacity: 1;
}

/* Ocultar hr y h5 por defecto */
.card_item h5,
.card_item hr {
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Mostrar hr y h5 al hacer hover */
.card_item:hover h5,
.card_item:hover hr {
  opacity: 1;
  transform: translateY(0);
}

/* Efecto de hover en el overlay */
.card_item:hover::before {
  background: #0048;
}

/* Zoom real en hover */
.card_item:hover::after {
  transform: scale(1.1); /* Ampliación suave */
}

/* Animación Title*/
@keyframes titleAppear {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animación Cards*/
@keyframes featuresCard {
  0% {
    transform: translate3d(-400px, 0, -200px) rotateY(45deg) scale(0.8);
    filter: blur(4px);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateY(0deg) scale(1);
    filter: blur(0);
  }
}

/*Responsive Animaciones Cards y title*/
@media (max-width: 768px) {
  @keyframes featuresCardMobile {
    0% {
      transform: translate3d(0, 100px, 0) scale(0.8);  
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
    }
  }
  .card_item {
    animation-range: cover 5% cover 30%; 
  }
  @keyframes titleAppearMobile {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .features-card {
    animation: featuresCardMobile 0.10s ease-out forwards;
  }
  .features {
    padding: 20px;
  }
  
  .title {
    animation: titleAppearMobile 0.5s ease-out forwards;
  }
  }
 

