<footer class="bg-dark text-light py-4">
  <div class="container">
    <!-- Primera fila: 4 columnas -->
    <div class="row text-center text-md-start">
      <div class="col-md-3 mb-3">
        <h5>Sobre Nosotros</h5>
        <h6>Eficiente Transporte con Tecnología.</h6>
        <p>
          E-TRANSPORTECH S.A.C. es una empresa peruana especializada en
          servicios de brokerage para el transporte de carga. Nuestro objetivo
          es optimizar la logística mediante tecnología avanzada, asegurando
          eficiencia, ahorro y confiabilidad para nuestros clientes y
          transportistas asociados.
        </p>
      </div>
      <div class="col-md-3 mb-3">
        <h5>Enlaces</h5>
        <ul class="">
          <li>
            <a href="#" class="text-light">Inicio</a>
          </li>
          <li>
            <a href="#" class="text-light">Servicios</a>
          </li>
          <li>
            <a href="#" class="text-light">Contacto</a>
          </li>
          <li>
            <a href="#" class="text-light">Sobre Nosotros</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-3">
        <h5>Contacto</h5>
        <p>
          Email:
          <a href="mailto:v.malca@e-transportech.org" class="text-light"
            >v.malca&#64;e-transportech.org</a
          >
        </p>
        <p>
          Tel: <a href="tel:+51997466121" class="text-light">+51 997 466 121</a>
        </p>
        <h5>Dirección Lima:</h5>
        <p>Marginal de la Selva N°369, Santiago de Surco</p>
        <h5>Dirección Chancay:</h5>
        <p>Calle López de Zúñiga N° 18, 3er. piso</p>
      </div>
      <div class="col-md-3 mb-3">
        <h5>Síguenos</h5>
        <a href="#" class="text-light me-3"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-light me-3"><i class="bi bi-twitter"></i></a>
        <a href="#" class="text-light"><i class="bi bi-instagram"></i></a>
      </div>
    </div>

    <!-- Segunda fila: Copyright -->
    <div class="row">
      <div class="col text-center mt-3">
        <p class="mb-0">
          &copy; 2025 E-TRANSPORTECH S.A.C. Todos los derechos reservados.
        </p>
        <p>
          <!-- Ing. José Yvan Chamache Chiong / Frank .... -->
          Desarrollado por: Ing. José Yvan Chamache Chiong /
          <a href="https://frankgp.com/" _blank class="text-light">Frank GP</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Agregar Bootstrap Icons para los íconos de redes sociales -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
/>
