footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
}

h5 {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
p {
  color: white;
  font-size: 1rem;
  font-weight: 200;
}
a {
  font-weight: 200;
}
