.text-primary {
  font-size: 3rem;
  text-align: center;
  color: #7cc6f3 !important;
}
.text-month {
  text-align: center;
  color: #888;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}
.text-muted {
  color: #888;
}
