<section class="container py-5">
  <h2 class="title">Blog Posts</h2>

  <div class="row">
    <!-- Primera columna -->
    <div class="col-md-6">
      <div class="card shadow-sm">
        <!-- Imagen -->
        <img
          src="https://i.postimg.cc/C56stGRm/25.webp"
          class="card-img-top"
          alt="Product Image"
        />
        <div class="card-body">
          <div class="row">
            <!-- Precio -->
            <div class="col-2">
              <h5 class="text-primary">25</h5>
              <p class="text-month">APRIL</p>
            </div>
            <!-- Descripción -->
            <div class="col-8">
              <p class="mb-1 subtitle">
                Choosing an Appropriate Vehicle for Transportation
              </p>
              <p class="text-muted">
                If you want to deliver your it is very
                important to choose an appropriate vehicle first. In this
                article, we will show you how you can...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Segunda columna -->
    <div class="col-md-6">
      <div class="card shadow-sm">
        <!-- Imagen -->
        <img
          src="https://i.postimg.cc/Vs7gd8Kn/09.webp"
          class="card-img-top"
          alt="Product Image"
        />
        <div class="card-body">
          <div class="row">
            <!-- Precio -->
            <div class="col-2">
              <h5 class="text-primary">09</h5>
              <p class="text-month">MAY</p>
            </div>
            <!-- Descripción -->
            <div class="col-8">
              <p class="mb-1 subtitle">
                Repairing a Delivery Truck: Advice from Experts
              </p>
              <p class="text-muted">
                Equipment types are extensive and our well-maintained fleet and
                award-winning drivers can offer proper E-TRANSPORTECH services. But
                from...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
