.text-primary {
  font-size: 3rem;
  text-align: center;
  color: #7cc6f3 !important;
}
.text-month {
  text-align: center;
  color: #888;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}
.text-muted {
  color: #888;
}
.card-img-top {
  transition: transform 0.3s ease-in-out;
}
/*Animacion Scale Cards*/
.card-scale {
  transition: transform 0.3s ease;
}
.card-scale:hover {
  transform: scale(1.03);
}
/*Animacion Title*/
.animation-title {
  view-timeline: --title-appear;
}
.title {
  animation: both titleAppear;
  animation-timeline: --title-appear;
  animation-range: entry-crossing 20vh entry-crossing 40vh;
}

@keyframes titleAppear {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
